/* 去掉列表的列表的项目符号 */
ul,
li,
ol {
  list-style: none;
}
body,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
