@import "./base.less";
@import "./customer_scrollbar.less";
@import "./iconfont.less";
@import "./mark-down.less";
.vue-demo-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;

    .vue-demo-desc,
    .vue-demo-highlight {
        margin-top: 20px;
    }
}
