table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;

  thead {
    background: rgba(0, 0, 0, 0.02);

    th {
      text-align: left;
      padding: 14px 16px;
      color: #5c6b77;
      font-weight: 500;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  tbody {
    td {
      padding: 14px 16px;
      border-width: 1px 0;
      color: #314659;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

blockquote {
  background-color: rgba(127, 127, 127, 0.1);
  border-left-color: rgba(0, 122, 204, 0.5);
  border-left-width: 9px;
  border-left-style: solid;
  padding: 5px 0 5px 10px;
  margin: 10px 0;

  p {
    margin: 0;
  }
}

code {
  color: #d7ba7d
}