table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  thead {
    background: rgba(0, 0, 0, 0.02);
    th {
      text-align: left;
      padding: 14px 16px;
      color: #5c6b77;
      font-weight: 500;
      border-bottom: 1px solid #e8e8e8;
    }
  }
  tbody {
    td {
      padding: 14px 16px;
      border-width: 1px 0;
      color: #314659;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}
