//主要配色
@primary-light-color: #4865e9;
// @primary-color: #030742;
@primary-color: #273c70;
@subsidiary-color: #eee;
@background-color: #eeeeee;
@primary-purple: #1ba6a6;
@primary-table-header-color: #eeeeee; //表格头部
@subsidiary-hover-color: rgba(39, 60, 112, 0.3);
@button-primary: #4865e9;
@button-primary-light: #5a75ec;
@button-primary-active: #6f85e9;

@menu-header-height: 70px;
@detail-header-height: 55px;
@detail-content-box-paddingtop: 25px;
@anchor-width: 140px;
@anchor-collapse-width: 64px;

@sider-bar-minwidth: 40px;
@sider-bar-maxwidth: 270px;

@table-hover-primary-color: #ddeaf7;

@detail-table-header-primary-color: #a4d4ff;
@detail-table-header-light-color: #f0f8ff;

@detail-table-height: 40px;

// 首页
@search-bar-height: 48px;
@search-bar-border: 2px;

// media
@screen-xl: 1600px;

@screen-xxl: 2000px;

/*
 *样式重构涉及颜色变量
*/
// 主题色
@theme-color: #273c70;
@theme-hover-color: rgba(39, 60, 112, 0.26);

:export {
  themeColor: @theme-color;
  searchBarMinWidth: @sider-bar-minwidth;
  searchBarMaxWidth: @sider-bar-maxwidth;
}
